<footer class="bg-white text-center text-dark border-top border-grey mt-5">
  <div class="container p-3 pb-0">
    <section class="mb-3">
      <!-- Facebook -->
      <a
        class="btn btn-social m-1 rounded-circle text-white"
        style="background-color: black"
        href="#!"
        role="button"
      ><i class="bi bi-facebook fs-5"></i></a>
      <!-- Twitter -->
      <a
        class="btn btn-social m-1 rounded-circle text-white"
        style="background-color: #000000"
        href="#!"
        role="button"
      ><i class="bi bi-twitter-x fs-5"></i></a>
      <!-- Google -->
      <a
        class="btn btn-social m-1 rounded-circle text-white"
        style="background-color: black"
        href="#!"
        role="button"
      ><i class="bi bi-google fs-5"></i></a>
      <!-- Instagram -->
      <a
        class="btn btn-social m-1 rounded-circle text-white"
        style="background-color: black"
        href="#!"
        role="button"
      ><i class="bi bi-instagram fs-5"></i></a>
      <!-- Linkedin -->
      <a
        class="btn btn-social m-1 rounded-circle text-white"
        style="background-color: black"
        href="#!"
        role="button"
      ><i class="bi bi-linkedin fs-5"></i></a>
    </section>
  </div>
  <div class="text-center text-dark p-1 border-dark">
    © 2025 Copyright:
    <span class="fw-bold">KickFlip Skate</span>
  </div>
</footer>