<app-navbar></app-navbar>
<nav class="navbar navbar-expand-lg navbar-light bg-white" aria-label="breadcrumb">
  <ol class="breadcrumb bg-white ms-3">
    <li class="breadcrumb-item ">
      <a (click)="navigateHome()" class="text-dark">Inicio</a>
    </li>
    <li *ngFor="let segment of pathSegments; let i = index" class="breadcrumb-item">
      <a *ngIf="i < pathSegments.length - 1" (click)="navigateTo(i)" class="text-dark">{{ segment }}</a>
      <span *ngIf="i === pathSegments.length - 1" class="text-muted">{{ segment }}</span>
    </li>
  </ol>
</nav>

<app-carrito></app-carrito>
<router-outlet/>

<app-footer ></app-footer>