<div class="container mt-4" style="min-height: 55vh">
  <!-- Orden -->
  <div class="row mb-3">
    <div class="col-12 text-end">
      <label for="order" class="form-label">Ordenar por:</label>
      <select
        id="order"
        class="form-select d-inline-block w-auto border-dark text-dark bg-white"
        [(ngModel)]="ordenSeleccionado"
        (change)="ordenarEjes()"
      >
        <option value="nombre-asc">Nombre</option>
        <option value="precio-asc">Precio ascendente</option>
        <option value="precio-desc">Precio descendente</option>
      </select>
    </div>
  </div>

  <div class="row">
    <!-- Filtros -->
    <div class="col-md-3 col-lg-2 bg-white border-end border-dark p-3">
      <h5 class="text-dark">Filtros</h5>

      <label for="marca" class="form-label text-dark">Marca:</label>
      <select
        [(ngModel)]="filtroMarca"
        id="marca"
        class="form-select mb-2 border-dark text-dark bg-white"
      >
        <option value="todos">Todos</option>
        @for(marca of marcasUnicas; track marca){
        <option value="{{ marca }}">{{ marca }}</option>
        }
      </select>

      <button class="btn btn-dark w-100 mb-2" (click)="aplicarFiltros()">
        Aplicar filtros
      </button>
      <button class="btn btn-outline-dark w-100" (click)="limpiarFiltros()">
        Limpiar filtros
      </button>
    </div>

    <!-- Productos -->
    <div class="col-md-9 col-lg-10">
      @if (cargando) {
      <div class="text-center my-4">
        <div class="spinner-border"></div>
      </div>
      } @else {
      <div class="row align-items-stretch">
        @if(filteredEjes.length < 1){ @for(eje of ejes; track eje.id){
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-3">
          <div
            class="card h-100 shadow bg-white card-hover overflow-hidden d-flex flex-column"
            [routerLink]="['/ejes', eje.id]"
          >
            <img
              [src]="eje.imagen_url"
              [alt]="eje.nombre"
              class="card-img-top img-fluid p-2"
              style="max-height: 150px; object-fit: contain"
            />
            <div class="card-body text-dark d-flex flex-column">
              <h6 class="card-title">{{ eje.nombre }}</h6>
              <p class="card-text small mb-1">
                <strong>Precio:</strong> {{ eje.precio }}€
              </p>
              <p class="card-text small mb-2">
                <strong>Marca:</strong> {{ eje.marca }}
              </p>
              @if(eje.cantidad <= 5 && eje.cantidad > 0){
              <p class="text-danger small mt-auto">
                <strong>Últimas unidades!</strong>
              </p>
              } @else if(eje.cantidad == 0){
              <p class="text-danger small mt-auto">
                <strong>Sin Stock</strong>
              </p>
              }
            </div>
          </div>
        </div>
        } } @else { @for(eje of filteredEjes; track eje.id){
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-3">
          <div
            class="card h-100 shadow bg-white card-hover overflow-hidden d-flex flex-column"
            [routerLink]="['/ejes', eje.id]"
          >
            <img
              [src]="eje.imagen_url"
              [alt]="eje.nombre"
              class="card-img-top img-fluid p-2"
              style="max-height: 150px; object-fit: contain"
            />
            <div class="card-body text-dark d-flex flex-column">
              <h6 class="card-title">{{ eje.nombre }}</h6>
              <p class="card-text small mb-1">
                <strong>Precio:</strong> {{ eje.precio }}€
              </p>
              <p class="card-text small mb-2">
                <strong>Marca:</strong> {{ eje.marca }}
              </p>
              @if(eje.cantidad <= 5 && eje.cantidad > 0){
              <p class="text-danger small mt-auto">
                <strong>Últimas unidades!</strong>
              </p>
              } @else if(eje.cantidad == 0){
              <p class="text-danger small mt-auto">
                <strong>Sin Stock</strong>
              </p>
              }
            </div>
          </div>
        </div>
        } }
      </div>
      }
    </div>
  </div>
</div>
